.body{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.encabezado{
    text-align: center;
    background-color: rgb(127, 255, 212);
    height: 15%;
}

.contenido{
    background-color: rgb(255, 255, 177);
    height: 30%;
    overflow: scroll;
}

.arriba{
    text-align: left;
    margin: 1%;
}

.abajo{
    text-align: center;
}

.abajo2{
    text-align: left;
    flex-direction: row;
    display: flex;
    
}

.footer{
    text-align: center;
    background-color: rgb(253, 155, 155);
    padding: 2%;
    height: 5%;
}

#resultadoT{
    font-weight: lighter;
}